<ion-header>
  <ion-navbar>
    <ion-title>Mon Journal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let entry of entries;">
    <ion-item>
      <h2>{{ entry.title }}</h2>
      <p> {{ entry.date | amDateFormat:'LL' }}</p>
    </ion-item>


    <ion-slides *ngIf="entry.images.length > 0">
      <ion-slide *ngFor="let uri of entry.images">
        <img src="{{ uri }}"/>
      </ion-slide>
    </ion-slides>

    <ion-card-content *ngIf="entry.content">
      <p class="resume">{{ entry.content | dotdotdot }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col left text-center>

        <button ion-button icon-left clear small>

          <ion-note>
            {{entry.date | amTimeAgo}}
          </ion-note>

        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear small (click)="showEntry(entry)">
          <ion-icon name="md-book"></ion-icon>
          <div>Lire la suite</div>
        </button>
      </ion-col>
    </ion-row>

  </ion-card>

</ion-content>
